$em: 18px;

// fonts
$sans-serif: 'Rubik', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$monospace: Menlo, Monaco, Consolas, 'Courier New', monospace;

// colors
$black: #2E3440;
$white: #ECEFF4;
$gray: #4c566a;
$blue: #5e81ac;
$red: #bf616a;
$green: #a3be8c;
$yellow: #ebcb8b;

// responsive
$mobile-width: 767px;

%sans-serif {
  font-family: $sans-serif;
  font-size: $em;
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
  line-height: 1.65 * $em;
}
